langchain>=0.0.228
openai
tiktoken
requests
flask
python-dateutil
google-cloud-bigquery
google-cloud-pubsub
google-auth
google-cloud-storage
unstructured[local-inference]
tabulate
pdf2image
pytesseract
supabase
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
psycopg2-binary
google-cloud-aiplatform
google-generativeai
python-dotenv
GitPython>=3.1.31
gunicorn
pgvector
flask_testing
pypdf
google-cloud-discoveryengine
