langchain>=0.0.279
openai
tiktoken
requests
python-dateutil
google-cloud-bigquery
google-cloud-pubsub
google-auth
flask
google-cloud-storage
unstructured[local-inference]
tabulate
pdf2image
pytesseract
supabase
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
psycopg2-binary
google-cloud-aiplatform>=1.26.0
google-generativeai
discord
aiohttp
python-dotenv
transformers>=4.30.2
GitPython>=3.1.31